<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

    <!--BOOTSTRAP CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Cash Games</title>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Some default padding for the sections -->
    <style>
        section {
            padding: 60px 0;
        }
    </style>
</head>
<body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--  Main Container -->
            <div class="container-fluid">
                <a href="#intro" class="navbar-brand">

                    <!-- Icon & Title -->
                    <span class="fw-bold text-secondary">
                        <img id="playing_cards_icon" src="{{ url_for('static', filename='assets/playing_cards_icon.png')}}" alt="Playing_cards_icon" class="d-inline-block align-text-top img-fluid">
                        NIKO KADI
                        <style>
                            #playing_cards_icon {
                                width: 30px;
                                height: 30px;
                                margin-right: 15px;
                            }
                        </style>
                    </span>
                </a>

                <!-- Toggle for mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Nav Bar Links -->
                <div id="main-nav" class="collapse navbar-collapse justify-content-end">

                    <ul class="nav nav-pills">
                        <li class="navbar-item">
                            <a href="/" class="nav-link" >Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Game Lobby</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item">Play with a Friend</a></li>
                                <li><a href="/cash-games" class="dropdown-item">Cash Games</a></li>
                                <li><a href="#" class="dropdown-item">Enter Tournament</a></li>
                                <li><a href="#" class="dropdown-item">League of Legends</a></li>
                                <li><a href="#" class="dropdown-item">Play Against Comp</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Account</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item"></a></li>
                                <li><a href="/login" class="dropdown-item">My Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">Add Money</a></li>
                                <li><a href="#" class="dropdown-item">Deposit Money</a></li>
                                <li><a href="#" class="dropdown-item">Witdraw Money</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="#" class="dropdown-item">Logout</a></li>

                                <li></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Stats</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="dropdown-item"></a></li>
                                <li><a href="#" class="dropdown-item">Game History</a></li>
                                <li><a href="#" class="dropdown-item">Joined Tournaments</a></li>
                                <li></li>
                            </ul>
                        </li>


                    <li class="navbar-item">
                            <a href="#" class="nav-link" aria-current="page">Support</a>
                        </li>

                        <li class="navbar-item">
                            <a href="#inbox" class="nav-link">
                                <i class="bi bi-envelope"></i>
                            </a>
                        </li> 

                    </ul>

                </div>

            </div>

        </nav>
    
        <!-- Game Lobby Table -->
        <table class="table table-hover table-dark table-stripped" id="cashGameTable">
            <thead>
                <th colspan="4" class="text-center table-success">
                    <h3>Cash Games </h3>
                </th>

                <th colspan="1" class="text-center table-success">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" id="dev_btn-new-game">New Game</button>
                </th>

                <tr>
                    <th scope="col" class="text-center">Stake (Entry Fee)</th>
                    <th scope="col" class="text-center">No. of Players</th>
                    <th scope="col" class="text-center">Players in Game</th>
                    <th scope="col" class="text-center">Game Rule</th>
                    <th scope="col" class="text-center">Choose Action</th>
                </tr>
            </thead>

            <tbody>
                <!-- First Row -->
                <tr>
                    <th scope="row" class="text-center">1000</th>
                    <td class="text-center">4</td>
                    <td class="text-center">4</td>
                    <td class="text-center">Joker</td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary dev_btn-play"> Play </button>
                    </td>
                </tr>

                <!-- Second Row -->
                <tr>
                    <th scope="row" class="text-center">8000</th>
                    <td class="text-center">3</td>
                    <td class="text-center">2</td>
                    <td class = text-center>No Joker</td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary"> Play </button>
                    </td>
                </tr>

                {% for game_id, game in games.items() %}
                <tr>
                    <th scope="row" class="text-center"> {{game.stake}}</th>
                    <td class="text-center">{{game.max_players}}</td>
                    <td class="text-center">{{game.players|length}}</td>
                    <td class="text-center">{{game.game_rule}}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-secondary playBtn" data-gameId="{{game_id}}" data-userId="{{user_id}}" data-username="{{username}} " data-entryFee="{{game.stake}}"> Play </button>
                            
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal for New Game Details -->
        <div class="container-fluid">
            <!-- Modal -->
                <div class="modal fade" id="modal_new-game-details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="new-game-details-header">Enter Game Details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">KSH</span>
                                                <input type="text" class="form-control" aria-label="Kenya Shillings" placeholder="Enter Amount" id="amountInput" required>
                                                <div id="amountFeedback"></div>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="input-group mb-3">
                                                <span class="input-group-text">No. of Players</span>
                                                <input type="text" class="form-control" id="noOfPlayersInput" aria-label="Number of players" required>
                                                <div id="playersFeedback"></div>
                                            </div>
 
                                        </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                <button type="button" class="btn btn-primary" id="dev_btn-proceed" disabled>Proceed</button>
                            </div>
                            </div>
                        </div>
                </div>

        </div>


    <!--BOOTSTRAP CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- SocketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <script type="module" src="{{ url_for('static', filename='js/cash_games.js')}}"></script>
</body>
</html>